// Define variables for your color scheme

// For example:
$brown-light: #D0C6B9;
$brown: #826645;
$brown-dark: #634016;
$brown-ultradark: #45220A;
$primary: #FFAC4A;
$primary-light: #FFC581;
$gold: #FFD363;
$gray: #0E0000;
$red: #AB3B3A;
$red-dark: #7D2224;
$light-gray: #F4F4F4;
$white : #FFF;
