// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Define fonts for body and headers
$body-font: "Montserrat", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "GoudyRegular";
  src: font-url('GoudyRegular') format('woff')
}

@font-face {
  font-family: "GoudyBold";
  src: font-url('GoudyBold') format('woff')
}

$goudy-regular: "GoudyRegular";
$goudy-bold: "GoudyBold";


h1 {
  font-family: $goudy-regular;
  font-size: 48px !important;
  margin-bottom:0 !important;
}

h2 {
  font-family: $goudy-bold;
  font-size: 28px !important;
  letter-spacing: 1px;
  margin-bottom: 0 !important;
  line-height: 90% !important;
}

p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom:0 !important;
  font-family: $goudy-regular;
}

.text-small {
  font-family: 'Montserrat', "sans-serif";
  font-size: 14px;
  line-height: 100%;
}

.font-bold {
  font-weight: 700;
}

.text-x-small {
  font-family: 'Montserrat', "sans-serif";
  font-size: 12px;
  line-height: 100%;
}


* {
  -webkit-font-smoothing: antialiased;
}