.layout-grid {
  background:$brown-dark;
  background-image: asset-url('wood-texture.png');
  background-size: cover;
  width:100vw;
  height:100vh;
  display: grid;
  grid-template-rows: calc(100vh - 60px) 60px;
}

.appheros-content-wrapper {
  background-color: $primary-light;
  background-image: asset-url('noise-texture.png');
  background-size: cover;
  width:100%;
  height:100%;
  padding:4px;
  border-radius:$border-radius-sm;
}

.appheros-content-wrapper-2 {
  background:$brown-dark;
  background-image: asset-url('wood-texture.png');
  background-size: cover;
  padding: 4px;
  width:100%;
  height:100%;
}

.appheros-content {
  background: $primary-light;
  border-radius:$border-radius-sm;
  border: 1px solid $brown-ultradark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height:100%;
  overflow: hidden;
}

.appheros-layout {
  background:$brown-ultradark;
  padding: 8px;
  width:100vw;
}

.appheros-content-head {
  background:$brown-dark;
  width:100%;
  position:relative;
  .back {
    position:absolute;
    top:12px;
    left:12px;
  }
}

.appheros-content-title {
  background: $brown-dark;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:12px 0;
  position:relative;
  border-bottom: 1px solid $brown-ultradark;
  h1 {
    text-align: center;
    color: $primary-light;
  }
}

.appheros-content-infos {
  padding:0 8px;
  width:100%;
  height: 100%;
  position: relative;
}

.appheros-content-infos-overflow {
  overflow-y: scroll;
}

.appheros-content-subtitle-wrapper {
  position: absolute;
  top:-26px;
  left:0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appheros-content-subtitle {
	width: fit-content;
  height:50px;
	color: $primary-light;
  background: $brown;
	text-align: center;
  padding: 16px;
	font-weight: bold;
  font-family: $goudy-regular;
  position: relative;
  // border: 2px solid $brown-ultradark;
}

.appheros-content-subtitle:before {
  content:"";
  position: absolute;
  right: 100%;
  top:0px;
  width:0px;
  height:0px;
  border-top:25px solid transparent;
  border-right:30px solid;
  border-bottom:25px solid transparent;
  color:$brown;
  // border: 2px solid $brown-ultradark;
}

.appheros-content-subtitle:after {
  content:"";
  position: absolute;
  left: 100%;
  top:0px;
  width:0px;
  height:0px;
  border-top:25px solid transparent;
  border-left:30px solid;
  border-bottom:25px solid transparent;
  color:$brown;
  // border: 2px solid $brown-ultradark;
}
