.container-users-scores {
  margin: 10px 10px 10px 10px;
}

.users-scores-chains {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: -11em;
  z-index: 99;
  position: relative;
}

.users-scores-title {
  color: $gold;
  margin-top: -296px;
  position: absolute;
  display: flex;
  justify-content: center;
}

.user-scores-wodden-board {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
  padding-top: 17px;
  padding-bottom: 20px;
  background-image: asset-url("icons/board.svg");
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  background-size: contain;
}

.users-avatars-results {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.users-scores-avatar-win {
height: 120px;
width: 120px;
margin-top: -200px;
margin-left: -5px;
}

.users-scores-avatar-loose {
height: 80px;
width: 80px;
margin-top: -200px;
margin-left: -5px;
}

.crown {
}
