.games-show {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
}

.defier {
  z-index: 1;
}

#glslCanvas{
  position: absolute;
  height: 80vh;
  top: 0;
  z-index: 0;
  width:110%;
}

.btn-games-choice {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.spacer-sword {
  height: 20vh;
}
