#game-beer-container {
  position: relative;
}

#score {
  font-size: 24px;
}

.title-page {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

#start-button {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#instructions {
  text-align: center;
}

#beer-glass {
  width: 100px;
  height: 200px;
  background-color: transparent;
  border: 5px solid brown;
  margin: 20px auto;
  position: relative;
  padding-bottom: 20px;
}

#beer-level {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: yellow;
}

#countdown {
  text-align: center;
  font-size: 45px;
  position: absolute; // Ajouter une position absolue pour pouvoir centrer
  top: 50%; // Centrer verticalement
  left: 50%; // Centrer horizontalement
  transform: translate(-50%, -50%) scale(1); // Centrer parfaitement et échelle normale par défaut
  transition: transform 0.5s ease-in-out; // Ajouter une transition pour l'effet de zoom
}

#countdown.zoom {
  transform: translate(-50%, -50%) scale(1.5); // Appliquer un zoom sur le compte à rebours
}


#score {
  text-align: center;
}

/* NEW */

#beer-container {
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: -20px;
  width: 260px;
}

#beer-container div { position: absolute; }

.pour {
  position: absolute;
  left: 45%;
  width: 20px;
  height: 0px;
  background-color: #edaf32;
  border-radius: 10px
}

#beaker {
  border: 10px solid #FFF;
  border-top: 0;
  border-radius: 0 0 30px 30px;
  height: 400px;
  left: 14px;
  bottom: 0;
  width: 240px;
}


#liquid {
  background-color: #edaf32;
  border: 10px solid #edaf32;
  border-radius: 0 0 20px 20px;
  bottom: 0;
  height: 0px;
  overflow: hidden;
  width: 100%;
  transition:0.2s;
}

#liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 140%;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  transform: rotate(15deg);
  width: 110px;
}

#liquid .bubble {
  animation-name: bubble;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

@keyframes bubble {
  0% { bottom: 0; }

   50% {
     background-color: rgba(255, 255, 255, 0.2);
      bottom: 160px;
   }

   100% {
     background-color: rgba(255, 255, 255, 0);
      bottom: 320px;
   }
}

.bubble1 {
  left: 10px;
  animation-delay: 1000ms;
  animation-duration: 1000ms;
}

.bubble2 {
  left: 50px;
  animation-delay: 700ms;
  animation-duration: 1100ms;
}

.bubble3 {
  left: 100px;
  animation-delay: 1200ms;
  animation-duration: 1300ms;
}

.bubble4 {
  left: 130px;
  animation-delay: 1100ms;
  animation-duration: 700ms;
}

.bubble5 {
  left: 170px;
  animation-delay: 1300ms;
  animation-duration: 800ms;
}

/* Foam */

.beer-foam {
  position: absolute;
  bottom: 10px;
  transition:0.2s;
  left: -1px;
  transform: scale(1.1);
  z-index: 99;
}

.foam-1, .foam-2, .foam-3, .foam-4,
.foam-5, .foam-6, .foam-7 {
  float: left;
  position: absolute;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #fefefe;
}
.foam-1 {
  top: -30px;
  left: -10px;
}
.foam-2 {
  top: -35px;
  left: 20px;
}
.foam-3 {
  top: -25px;
  left: 50px;
}
.foam-4 {
  top: -35px;
  left: 80px;
}
.foam-5 {
  top: -30px;
  left: 110px;
}
.foam-6 {
  top: -20px;
  left: 140px;
}
.foam-7 {
  top: -30px;
  left: 160px;
}

/* Drunk Text */

.animated {
  animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  animation-fill-mode:both;

  animation-duration:5s;
  -moz-animation-duration:5s;
  animation-duration:5s;

  animation-delay:3.5s;
  -moz-animation-delay:3.5s;
  animation-delay:3.5s;
}


.animated.drunk {
  animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;
}

@keyframes drunk {
	0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
	40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

	80% {
    transform: rotate(60deg) translateY(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

	100% {
	  transform: translateY(700px);
    opacity: 0;
  }
}

@-moz-keyframes drunk {
	0% {
    -moz-transform: rotate(0);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
  }

	20%, 60% {
    -moz-transform: rotate(80deg);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
  }

	40% {
    -moz-transform: rotate(60deg);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
  }

	80% {
	  -moz-transform: rotate(60deg) translateY(0); opacity: 1;
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
  }

	100% {
    -moz-transform: translateY(700px);
    opacity: 0;
  }
}

@keyframes drunk {
	0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

	20%, 60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

	40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

	80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1; transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
	100% {
    transform: translateY(700px);
    opacity: 0;
  }
}

.drunk {
	animation-name: drunk;
	-moz-animation-name: drunk;
	animation-name: drunk;
}
