#game-container {
  margin-top: 50px;
}

#score {
  font-size: 24px;
}

#beer-glass {
  width: 100px;
  height: 200px;
  background-color: transparent;
  border: 5px solid brown;
  margin: 20px auto;
  position: relative;
}

#beer-level {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: yellow;
}
