<div class="bar-card">
  <img src="https://picsum.photos/120/120" class="bar-card-image"/>

  <div class="bar-card-infos">
    <div class="d-flex">
      <h2>
        <%= bar.name %>
      </h2>
      <div class="flex-flex-shrink-1">
        <%= image_tag("bars/icone_bar.png") %>
      </div>
      </div>
      <p class="text-small font-bold"><%= bar.bar_type %></p>
      <p class="text-x-small"><%= bar.address %></p>
  </div>
</div>
