<div class="bars-filters">
  <a class="bars-filters-btn active">Toutes les tavernes</a>
  <a class="bars-filters-btn">Les plus proches</a>
  <a class="bars-filters-btn">Les plus animées</a>
  <a class="bars-filters-btn">Les plus tranquilles</a>
</div>
