<div class="bars-filters">
  <a data-action="click->filters#resetFilters" class="bars-filters-btn active">Toutes les tavernes</a>
  <a data-action="click->filters#applicateFilter" class="bars-filters-btn">Les plus proches</a>
  <a data-action="click->filters#applicateFilter" class="bars-filters-btn">Les plus animées</a>
  <a data-action="click->filters#applicateFilter" class="bars-filters-btn">Les plus tranquilles</a>
</div>
