<div class="search-bar-index-wrapper">
  <%= form_with url: bars_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
                       params[:query],
                       class: "form-control string required",
                       placeholder: "Trouve ta taverne"
    %>
    <%= image_submit_tag("icons/search.svg", alt: "Rechercher", class: "btn btn-flat") %>
  <% end %>
</div>
