<div class="player-card">
  <%= cl_image_tag(user.image_id) %>
  <div class="player-card-details">
    <div class="player-card-details-username">
      <h2><%= user.username %></h2>
    </div>
    <div class="player-card-details-tags">
      <div class="player-card-details-tags-hero">
        <div class="player-card-details-tags-online"></div>
        <div class="player-card-details-tags-online-shine"></div>
        <p>Héros Légendaire</p>
      </div>
      <div class="player-card-details-tags-spacer"></div>
      <div class="player-card-details-tags-age">
        <p><%= user.age %> ans</p>
      </div>
    </div>
  </div>
</div>
