<div class="home-layout">
  <%= cl_image_tag("ap8r1mclgllt57iaysd2", alt: "Logo de l'application", class:'mx-auto') %>
  <%= link_to 'Connexion', new_user_session_path, class:'btn button w-100' %>
  <%= link_to 'Inscription', profile_path, class:' btn button w-100' %>
</div>
