<div class="home-layout">
  <%#= cl_image_tag("ap8r1mclgllt57iaysd2", alt: "Logo de l'application", class:'mx-auto') %>
  <div class="home-head">
    <%= cl_image_tag("ap8r1mclgllt57iaysd2", alt: "Logo de l'application", class:'mx-auto') %>
    <div class="home-head-title">
    </div>
  </div>
  <div class="propal-value py-4">
    <div class="d-flex flex-column gap-3">
      <h2>Découvre les tavernes</h2>
      <h2>Duel tes compagnons de tablée</h2>
      <h2>Monte en rang</h2>
    </div>

    <h1 class="mt-4">Deviens un héros!</h1>
  </div>
  <div class="home-content">
  </div>
  <div class="home-bottom">
    <%= link_to 'Accéder au royaume', bars_path, class:'btn button w-100', style:"opacity:1" %>
    <%# <%= link_to 'Devenir un héros', profile_path, class:' btn button w-100', style:"opacity:1" %>
  </div>
</div>
