<input data-timer-target="animateSword" type="checkbox" id="time"><label for="time" class="d-none"></label>
<div class="sword">
  <div class="stick"></div>
  <div class="needle"></div>
  <div class="blade"></div>
</div>
<div class="sword sword2">
  <div class="stick"></div>
  <div class="needle"></div>
  <div class="blade"></div>
</div>
