<% content_for :title, "Memory Game" %>
<div class="wrap" data-controller="memorygame">
  <div class="game" data-memorygame-target="mygame"></div>

  <div class="modal-overlay">
    <div class="modal">
      <%= link_to "Continue", challenge_result_path(@challenge), class:'btn button w-100' %>
    </div>
  </div>
</div>
