<% content_for :title, "Memory Game" %>
<div class="wrap" data-controller="memorygame">
  <div class="game" data-memorygame-target="mygame"></div>

  <div class="modal-overlay">
    <div class="modal">
      <h2 class="winner">Victoire!</h2>
      <button class="restart">Rejouer?</button>
    </div>
  </div>
</div>
