<% content_for :title, "Challenges" %>

<%= render "shared/card-profile", user: @sender %>

<h1>Versus</h1>

<%= render "shared/card-profile", user: @receiver %>

<%= link_to 'Soumettre le résultat', profile_path, class:'btn button w-100' %>

<h1>lala</h1>
