<% content_for :title, "Challenges" %>
  <div class="container d-flex flex-column gap-4 py-4">
    <div>
      <%= link_to "retour", "#", class: "btn btn-primary" %>
    </div>
    <div class="d-flex flex-column gap-4">
      <% @users.each do |user| %>
        <div class="d-flex gap-2">
          <%= render "shared/card-profile", user: user %>
          <div class="flex-end">
            <%= image_tag("players/icone_defier.png", width: "60", height: "60" ) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
