<% content_for :title, "Challenges" %>
  <div class="d-flex flex-column">
    <%= link_to "retour", bar_path(@bar), class: "btn btn-primary" %>
    <div class="d-flex flex-column w-100">
      <% @users.each do |user| %>
      <div class="d-flex">
        <%= render "player_card", user: user %>
        <div class="flex-end", style="margin-left: 8px;">
          <div class="defier-component">
            <%= button_to bar_challenges_path(@bar, challenged_id: user.id, game_slug: :custom_game), method: :post, class:"remove-apparence" do %>
              <div class="square">
                <%= image_tag('icons/swords.svg') %>
                <p>Défier</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
