.btn-bliz {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("https://blz-contentstack-images.akamaized.net/v3/assets/bltc965041283bac56c/blt95aae854eff23bca/63ff839eac3a6d53dc639550/cta_mid.png");
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: 90% 100%;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  height: 72px;
  justify-content: center;
  line-height: normal;
  min-height: 72px;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  white-space: nowrap;
  width: 140.833px;
  z-index: 1;
}
