.button-home {
  border: 4px solid $gold;
  border-image: linear-gradient(to right, $gold, $primary, $white, $primary, $gold) 1;
  background: linear-gradient($red, $red-dark);
  color: $white;
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  // border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  // box-shadow: $gold 0px 7px 2px, $brown 0px 8px 5px;
}

.button-home p{
  text-decoration: none;
  color: $white;
  display: flex;
  justify-content: center;
  text-align: center;
}
