.achievement-cards {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    background-color: $primary;
    border-radius: 5px;
    border: 1px solid $brown-ultradark;
    margin-top: 8px;
    padding: 9px;
  }
}

.content-subtitle-card-profile {
  width: fit-content;
  height:50px;
	color: $primary-light;
  background: $brown;
	text-align: center;
  padding: 16px;
	font-weight: bold;
  font-family: $goudy-regular;
  position: relative;
}

.search-bar-index {
  padding: 5px 8px;
  border-radius: 5px;
}

.form-control {
  background-color: $gold;
  border: solid 1px $brown-dark;
  display: flex;
}

.form-control input {
  flex-grow: 1;
  border: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
}

.form-control input:focus {
  background-color: $gold;
}

.btn-flat {
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.bar-card {
  background-color: $brown;
  width: 100%;
  height: 120px;
  padding-right:12px;
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: center;
  overflow:hidden;
  color:$white;
  gap: 16px;
  border: 1px solid $brown-dark;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.15);
  opacity:0;
  animation: fadeIn 1s cubic-bezier(0.075, 0.22, 0.85, 1);
  animation-fill-mode: forwards;
}

.bar-card-head {
  display: flex;
  justify-content: space-between;
  width:100%;
}

.bar-card-image {
  height:100%;
  width:100px;
  object-fit: cover;
}

.bar-card-infos {
  display: flex;
  width:100%;
  flex-direction: column;
  gap: 8px;
}

.bar-card-infos h2 {
  font-size: 16px;
  font-family: $goudy-bold;
}

.bar-card-count {

  margin-top: 10px;

  span {
    font-size: 23px !important;
    position: absolute;
    font-family: "GoudyBold";
    color: #45220A;
    top: 8px;
    left: 31px;
  }

  .big-losange {
    position: relative;
    width: 35px;
    height: 35px;
    transform: rotate(45deg);
    background-color: white;
    border: solid 0.7px $primary;
  }
  .big-losange-interior {
    position: absolute;
    top: 1.3px;
    left: 1.3px;
    width: 31px;
    height: 31px;
    transform: rotate(90deg);
    background-color: $primary;
    border: solid 0.7px $brown-ultradark;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .big-losange-interior h2 {
    transform: rotate(225deg);
  }

  // .bar-card-count h2 {
  //   font-size: 10px;
  // }
}

/* ANIMATION */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@for $i from 1 through 10 {
  .bar-card:nth-child(#{$i}) {
    animation-delay:(#{$i*0.15s});
  }
}
