.bars-filters {
  display: flex;
  gap:8px;
  overflow-x: scroll;
  padding-bottom: 16px;

  button {
  background-color: $primary;
  border: 1px solid $brown-ultradark;
  border-radius: 50px;
  text-align: center;
  }
}

.bars-filters::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.bars-filters {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.bars-filters-btn {
  background-color: $primary-light;
  border: 1px solid $brown-ultradark;
  border-radius: 50px;
  color: $brown-ultradark;
  text-decoration: none;
  padding: 6px 10px;
  white-space: nowrap;

  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.bars-filters-btn.active {
  background-color: $brown-ultradark;
  color: $primary-light;
}
