.navbar {
  width: 100%;
  z-index: 999;
  background: $brown-ultradark;
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;

  img {
    width:32px;
    height:32px;
  }
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
  display: none !important;
}