.navbar {
  position: fixed;
  bottom: 1px;
  left: 1px;
  width: 99%;
  background: #826645;
  border: solid #FFD363 3px;
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;

  img {
    width:32px;
    height:32px;
  }
}

.map-icon {

}
