.player-card {
  display: flex;
  gap: 2px;
  width: 100%;
  background-color: $brown-dark;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 16px;
  .button {
    padding: 10px;
  }
  .button span {
    margin: 0px 8px;
  }
}

.animation-player {
  transition: 0.4s ease-in-out;
}


.challenge-avatar {
  height:100%;
  border-radius: 8px;
  border: 1px solid $gold;
  object-fit: cover;
  width:120px;
}

.player-card-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 8px;
  padding-bottom:0px;
  gap: 8px;
}

.player-card-details-username {
  width: 100%;
  color: $white;
}

.player-card-details-username h2 {
  font-size: 24px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-card-details-tags {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap:8px;
}

.player-card-details-pills {
  padding: 4px 8px;
  border-radius: 50px;
  border: 1px solid $brown;
  display: flex;
  gap:4px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  white-space: nowrap;
  position: relative;
  font-family: 'Montserrat' !important;
  color:$white;
  font-weight:700;
  text-transform: uppercase;
  letter-spacing: 1px;
  width:fit-content;
}

.player-age-details {
  background-color: transparent;
  border: 1px solid $gold;
  color:$gold;
}

.player-card-details-tags-age p {
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
}

.player-card-details-tags-online {
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background-color: #71CB2B;
  border: 1px solid #FFD363;
  filter: blur(0.2px);
}

.status-dot {
  position: relative;
}
.player-card-details-tags-online-shine {
  height: 3px;
  width: 3px;
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 50px;
  background-color: #FFFFFF;
  outline: 0.2px solid #b4beb3;
  filter: blur(0.2px);
}
