.users-scores {
  display: flex;
  flex-direction: column;
  width: 29vh;
  background-color: $brown;
  color: $white;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  // padding: 130px;
}
